@import "tailwindcss";

@font-face {
    font-family: "Poppins";
    src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-nutri-green-light: #ccff92;
    --color-nutri-green: #88e31f;
    --color-nutri-green-dark: #29a114;
    --color-nutri-gray: #3F4255;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #ccff92 transparent;
}
